*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header a{
  padding: 0 1em 0;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0,0,0);
  color: rgb(255, 255, 255);
}

.nav-logo{
  width: 100px;
}

nav ul{
  display: flex;
  list-style: none;
  padding: 1em;
}

nav a{
  color: rgb(255, 255, 255);
  padding: 1em;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  background-color: rgb(121,9,21);
}

nav ul li{
  padding: 0 .5em 0;
}

main{
  padding: 1em;
  background: rgb(121,9,21);
  background: radial-gradient(circle, rgba(121,9,21,1) 83%, rgba(1,0,24,1) 100%);
}

.contenedor-principal{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contenedor-pelicula{
  padding: 1.25em;
  margin: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(255, 255, 255);

}
.contenedor-pelicula figure{
  display: flex;
  justify-content: center;
}

.img-pelicula{
  width: 250px;
  height: 370px;
}

table{
  border: solid 2px rgb(0, 0, 0);
  margin: 1em 0 0;
  width: 300px;
}

td, th{
  padding: .3em;
  border: solid 1px rgb(0, 0, 0);
  text-align: center;
}

.contenedor-sec {
  color: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-sec form{
  padding: 0 0 1em;
  display: flex;
  flex-direction: column;
  width: 40%;
}

label, fieldset{
  margin-top: 1.25em;
  margin-bottom: .25em;
  color: rgb(255, 255, 255);
}

fieldset label{
  padding: 1em;
}

form input, select{
  border: 0.2em solid rgb(121,9,21);
  border-radius: 0.4em;
  padding: 0.5em;
}

form section{
  display: flex;
  justify-content: end;
}

.boton{
  cursor: pointer;
  padding: .5em;
  border: solid 1px rgb(121,9,21);
  background-color: rgb(255,255,255);
  border-radius: .25em;
  margin-top: 2em;
}

.boton:hover,
.boton:focus{
  color: rgb(255, 255, 255);
  background-color: rgb(0,0,0);
}

aside{
  color: rgb(255, 255, 255);
  padding: 1em;
  float: right;
  width: 25%;
  padding-top: 2.5em;
}

aside form{
  display: flex;
  flex-direction: column;
}

aside form textarea{
  padding: .5em;
}

footer{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: .25em;
  display: flex;
  justify-content: center;
}