/**** CSS general ****/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

header{
  display: flex;
  background-color: rgb(0, 0, 77);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header p,
header a{
  color: rgb(255, 255, 255);
  padding: 0.25em;
  text-decoration: none;
}

nav li {
  background-color: rgb(0, 0, 77);
}

#contenedor-menu  {
  background-color: gold;
}

#contenedor-menu li {
  padding: .3em;
  list-style: none;
}

#contenedor-menu li a{
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titulo{
  text-align: center;
  display: block;
}
.plantel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table{
  margin: 1em;
  border: 1px solid black;
}

th,
td{
  padding: .2em;
  border: 1px solid black;
}

.pos{
  background-color: rgb(0, 0, 77);
}

.pos.arq{
  color: rgb(255, 234, 42);
}
.pos.def{
  color: rgb(109, 243, 255);
}
.pos.med{
  color: rgb(60, 255, 1);
}
.pos.del{
  color: rgb(255, 17, 17);
}

tfoot td{
  text-align: center;
}

.galeria{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.galeria figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em .3em;
  margin: .2em .2em;
}
.galeria figure img{
  width: 280px;
  padding: 0 .3em .1em;
  margin: .2em .2em;
}

.galeria figure figcaption{
  display: inline-block;
}



/**** CSS cel ****/

@media screen and (min-width: 320px) {

  
  header{
    padding: .2em;
  }

  nav li a{
    color: gold;
  }

  #contenedor-menu img {
    width: 10vw;
  }

  #contenedor-menu #cerrar {
    display: none;
  }

  #contenedor-menu ul {
    height: 0;
    overflow: hidden;
  }

  #contenedor-menu:target #cerrar {
    display: block;
  }

  #contenedor-menu:target #abrir {
    display: none;
  }

  #contenedor-menu:target ul {
    height: 22vh;
    transition: height 1s ease 0s;
  }

  #contenedor-menu nav li {
    margin-bottom: 0.1em;
  }

  #contenido{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: .2em;
    height: 100%;
  }

  .columna{
    margin: 1em .2em
  }

  .info-adicional{
    display: none;
  }

  .columna article p{
    padding: .1em;
  }

  .bombonera-1{
    display: inline;
  }

  .bombonera-2{
    display: none;
  }
  
  .columna .figure-historia,
  .columna .figure-estadio,
  .columna .figure-super{
    padding: .25em;
    text-align: center;
    font-style: oblique;
  }

  .columna .figure-historia{
    float: right;
  }
  
  .columna .figure-super{
    float: left;
  }
  
  .desktop-table{
    display: none;
  }

}

/**** CSS Tablet ****/

@media screen and (min-width: 768px){
  
  .contenido-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .columna{
    width: 48%;
    padding: .2em;
  }

  .columna.c-3{
    width: 98%;
    margin: 0 .6em;
  }

  .bombonera-1{
    display: none;
  }

  .bombonera-2{
    width: 100%;
    display: inline;
  }

  .info-adicional{
    display: inline;
    margin: .5em 0;
  }

  .mobile-table{
    display: none;
  }

  .desktop-table{
    display: block;
  }
  
  tr, td{
    text-align: center;
    padding: .4em 1.5em;
  }

  tfoot{
    font-style: oblique;
  }

}

/**** CSS PC ****/

@media screen and (min-width: 1024px) {

  nav li a{
    color: rgb(0, 0, 77);
  }

  #contenedor-menu img {
    display: none;
  }
  
  #contenedor-menu ul {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  nav li{
    background-color: rgba(0, 0, 0, 0);
  }

  .contenido-principal{
    justify-content: space-between;
  }
  
  .columna.c-1,
  .columna.c-2,
  .columna.c-3{
    width: 30%;
    padding: .2em;
  }
  .columna.c-3{
    margin: 1em .2em;
  }

  .bombonera-1{
    display: inline;
  }

  .bombonera-2{
    display: none;
  }
}


@media screen and (min-width: 1440px){

}